.contactus {
    background: var(--color-black);
    color: white;
    font-family: var(--font-family);
}

.contactus-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    min-height: 100vh;
}

.contactus-info {
    padding: 0 2rem;
}

.contactus-info h1 {
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
}
.contactus-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #000000c5;
    border-radius: 5px;

    max-width: 700px;
    
    font-size: 25px;

    margin: 2rem 4rem;
}

.contactus-form input,
.contactus-form textarea {
    width: 100%;
    min-height: 30px;

    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1rem;
    outline: none;
    border: none;

    font-family: var(--font-family);
    font-size: 18px;
}

.contactus-form button {
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0 0;
    border: none;

    background: var(--color-red);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);

    width: 100%;
    min-height: 50px;
    max-width: 200px;
    align-items: center;

    margin: 1rem;
}

@media screen and (min-width: 2000px) {
    .contactus-info h1,
    .maps-info h1 {
        font-size: 180px;
        line-height: 210px;
    }

    .wrapper-map iframe {
        height: 700px;
    }
}

@media screen and (max-width: 1150px) {
    .contactus-info h1 {
        font-size: 90px;
    }

    .contactus-form {
        font-size: 20px;
        margin: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .contactus-info h1 {
        font-size: 70px;
        line-height: 87px;
    }

    .contactus-content__start button {
        font-size: 16px;
        line-height: 24px;
        
    }

    .contactus-form input {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .contactus-info h1 {
        font-size: 50px;
        line-height: 70px;
    }
}