@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.admin-dashboard{
  background: var(--color-black);
  color: white;
  font-family: var(--font-family);
  
  display: flex;
  flex-direction: column;

  padding: 2rem 4rem;
}

.admin-dashboard h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.admin-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 2rem 0;
}

.admin-links {
margin-right: 2rem;
}

.admin-links h4 {
  text-align: center;
  margin-bottom: .5rem;
}