.bMain {
  background: var(--color-black);
  color: white;
  font-family: var(--font-family);
  display: block;
}

.backgroundButton {
  border: none;
  margin: 10px;
  padding: 0;
  width: 500px;
  height: 250px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.backgroundButton img {
  display: none;
}

input[type="file"] {
  display: none;
}

.imagePreview {
  width: 500px;
}

/* Responsive design for smaller screens */
@media (max-width: 1440px) {
  .backgroundButton {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .backgroundButton {
    width: 250px;
    height: 125px;
  }

  .imagePreview {
    width: 250px;
  }
}
